<footer>
    <p>Crafted with ❤️ by {{author}}</p>
    <p>Designed using <span><a href="https://nodejs.org/" target="new">NodeJS</a></span></p>
    <p>Powered by <span><a href="https://www.heroku.com/" target="new">Heroku</a></span></p>
</footer>