<header class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CRYPYTS</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-right">
                <a class="nav-link" href="/documentation"><img class="source-logo" width="30" src="/img/api_logo.png"> API Doc</a>
                <a class="nav-link" href="https://github.com/priyanshusingh0610/node_crypyts" target="new"><img class="source-logo" width="30" src="/img/github_logo.png"> Source Code</a>
            </div>
            </div>
        </div>
    </nav>
</header>